.visualBundle { 
    margin: 0rem 2rem 2rem 2rem;
    border: 0.1rem solid white;
    background-color: rgb(246, 213, 245); 
    border-radius: 6%;
}

.visualBundle img,
.visualBundle video {
  border-radius: 6%;  /* makes a perfect circle if square */
}

.title {
    font-size: 1.5rem;
}