.selection-button {
    width: 100%;
    height: 10rem;
}

.banner {
    position: sticky;
    top: 2rem;
    width: 100%;
    padding: 2rem 0 0 0;
    margin: 2rem 1rem;
    background-color: rgb(246, 213, 245); 
    border-radius: 6%;
    border: 0.1rem solid white;
}