.selection-button {
  width: 100%;
  height: 10rem;
}

.banner {
  width: 100%;
  padding: 2rem 0 0 0;
  margin: 2rem 1rem;
  background-color: rgb(246, 213, 245);
  border-radius: 6%;
  border: 0.1rem solid white;
}

.nav {
  position: sticky;
  top: 0rem;
}

.extraFeatures {
  width: 100%;
  margin: 2rem 1rem;
  background-color: rgb(246, 213, 245);
  border-radius: 6%;
  border: 0.1rem solid white;
}
