.app {
  text-align: center;
  display: grid;
  grid-template-columns: 30rem 1fr;
}

.nav-banner {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  font-size: calc(10px + 2vmin);
}

.posts-area {
  column-count: 3;
  padding: 2rem 2rem;
}

h1 {
  font-size: 4rem;
font-family: "Bitcount Prop Double Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}
