@import "tailwindcss";

@theme {
  --font-leagueSpartan: "League Spartan", sans-serif;
  --font-bitCount: "Bitcount Prop Double Ink", system-ui;
}

@layer base {
  html {
    @apply text-[62.5%] bg-[rgb(243,224,246)];
  }

  body {
    @apply m-0 text-3xl;
    font-family: var(--font-leagueSpartan);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family:
      source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  h1 {
    @apply text-[4rem] font-normal;
    font-family: var(--font-bitCount);
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0,
      "SZP1" 0,
      "SZP2" 0,
      "XPN1" 0,
      "XPN2" 0,
      "YPN1" 0,
      "YPN2" 0;
  }
}
