@import "tailwindcss";

@theme {
  --font-leagueSpartan: "League Spartan", sans-serif;
}

@layer base {
  html {
    @apply text-[62.5%] bg-[rgb(243,224,246)];
  }

  body {
    @apply m-0 text-3xl ;
    font-family: var(--font-leagueSpartan);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family:
      source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}
