@import "tailwindcss";

@theme {
  --font-leagueSpartan: "League Spartan", sans-serif;
  --font-bitCount: "Bitcount Prop Double Ink", system-ui;
  --color-bgCustom: rgb(18, 18, 30);
  --color-bgNav: rgba(28, 26, 48, 1);
  --text-reSizing: clamp(0.9rem, 2vw, 1.4rem);
}

:root {
  --color-bucketCustom: rgba(255, 255, 255, 1);
}
@media (min-width: 768px) {
  :root {
    --color-bucketCustom: rgba(255, 255, 255, 0);
  }
}

@layer base {
  html {
    @apply text-[62.5%] bg-bgCustom;
  }

  body {
    @apply m-0 text-3xl text-white;
    font-family: var(--font-bit);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-family: var(--font-bitCount);
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0,
      "SZP1" 0,
      "SZP2" 0,
      "XPN1" 0,
      "XPN2" 0,
      "YPN1" 0,
      "YPN2" 0;
  }
}

@layer utilities {
  /*app features*/

  .posts-area > * {
    break-inside: avoid; /* prevents splitting */
    page-break-inside: avoid; /* fallback */
    -webkit-column-break-inside: avoid; /* Safari/Chrome */
    margin-bottom: 2rem; /* spacing between posts */
  }

  /*nav features*/
  .selection-button {
    @apply w-full h-40;
  }

  .banner {
    @apply w-full p-[2,0,0,0] m-[2,1] border border-white rounded-2xl;
    color: rgba(38, 6, 58, 0.27);
  }

  .double-top-rounded {
    @apply rounded-tr-2xl rounded-tl-2xl 
  }

  @media (min-width: 768px) {
 .double-top-rounded {
    @apply rounded-2xl
  }
}
  /*nav features*/
}
