@import "tailwindcss";

@theme {
  --font-leagueSpartan: "League Spartan", sans-serif;
  --font-bitCount: "Bitcount Prop Double Ink", system-ui;
  --bg-custom: rgb(243,224,246);
}

@layer base {
  html {
    @apply text-[62.5%] bg-(--bg-custom);
  }

  body {
    @apply m-0 text-3xl;
    font-family: var(--font-leagueSpartan);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family:
      source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  h1 {
    @apply text-[4rem] font-normal;
    font-family: var(--font-bitCount);
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0,
      "SZP1" 0,
      "SZP2" 0,
      "XPN1" 0,
      "XPN2" 0,
      "YPN1" 0,
      "YPN2" 0;
  }
}

@layer utilities {
    /*app features*/
  .app {
    @apply text-center grid grid-cols-[1fr_10fr];
  }

  .posts-area {
    column-count: 3;
    column-gap: 2rem; /* space between columns */
    padding: 2rem;
  }

  .posts-area > * {
    break-inside: avoid; /* prevents splitting */
    page-break-inside: avoid; /* fallback */
    -webkit-column-break-inside: avoid; /* Safari/Chrome */
    margin-bottom: 2rem; /* spacing between posts */
  }
  /*app features*/

  /*nav features*/
  .selection-button {
    @apply w-full h-40;
  }

  .banner {
    @apply w-full p-[2,0,0,0] m-[2,1] bg-(--bg-custom) border border-white rounded-2xl;
  }

  .nav {
    @apply sticky top-0;
  }
   /*nav features*/

}
